# Ex 4.7 Deriving New Variables

### Importing libraries and data

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import math as ma
import os

In [5]:
# Define path

path = r'/Users/andymiller/Desktop/CareerFoundry Data Analytics/4. Python/Aug 2025 Instacart Basket Analysis'

In [6]:
# Import ords_prods_merge.pkl

df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [8]:
# Create dataframe df_1 containing only the first 1,000,000 rows to test on

df_1 = df[:1000000]

In [35]:
df_1.shape

(1000000, 18)

In [37]:
df.shape

(32404859, 18)

In [38]:
df_1.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both,195,Soda,77,7,9.0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [40]:
# Define a function

def price_label(row):

    if row['prices'] <= 5:
        return 'Low range product'
    elif (row['prices'] > 5 and row['prices'] <= 15):
        return 'Mid range product'
    elif row['prices'] > 15:
        return 'High range product'
    else: return np.nan

In [43]:
# Apply the function

df_1['price_range'] = df_1.apply(price_label, axis = 1)

/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_50658/2700727736.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['price_range'] = df_1.apply(price_label, axis = 1)

In [44]:
df_1['price_range'].value_counts(dropna = False)

price_range
Mid range product     673183
Low range product     314392
High range product     12425
Name: count, dtype: int64

In [47]:
df_1['prices'].max()

99999.0

In [48]:
df_1.loc[df_1['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/w2/ktpt6z_d1353vv2y_fgqj5cm0000gn/T/ipykernel_50658/1654432701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.loc[df_1['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [49]:
df_1.loc[(df_1['prices'] <= 15) & (df_1['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [50]:
df_1.loc[df_1['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [51]:
df_1['price_range'].value_counts(dropna = False)

price_range
Mid range product     673183
Low range product     314392
High range product     12425
Name: count, dtype: int64

In [52]:
# Apply these conditions to the full data set

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [53]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [54]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [55]:


df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [57]:
df['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [59]:
result = []

for value in df["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [60]:
df['busiest_day'] = result

In [61]:
df['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [64]:
df['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

# Task 4.7

### 2. Changing the 'Busiest_day' column as required

In [65]:
df.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status,price_range_loc,busiest_day
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

In [66]:
df['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [79]:
result = []

for value in df["orders_day_of_week"]:
  if (value == 0 or value == 1):
    result.append("Busiest days")
  elif (value == 3 or value == 4):
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [80]:
df['busiest_day'] = result

### 3. Check that the column has been updated

In [83]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status,price_range_loc,busiest_day
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy
5,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product,Least busy days
6,1,1,2398795,1,2,3,7,15.0,10258,2,0,both,10258,Pistachios,117,19,3.0,both,Low-range product,Least busy days
7,1,1,2398795,1,2,3,7,15.0,12427,3,1,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy days
8,1,1,2398795,1,2,3,7,15.0,13176,4,0,both,13176,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Least busy days
9,1,1,2398795,1,2,3,7,15.0,26088,5,1,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Least busy days

In [84]:
df['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

#### The column has been updated as required.

### 4. Creating the busiest_period_of_day column

In [88]:
# Find out which hours are most and least busy

df['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [90]:
#  Classify the top 3 hours when orders are placed as "Most orders, the bottom 3 hours 
#  as "Fewest orders" and the other hours as "Average orders".

result = []

for value in df["order_hour_of_day"]:
  if (value == 10 or value == 11 or value ==14):
    result.append("Most orders")
  elif (value == 2 or value == 4 or value == 3):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [91]:
df['busiest_period_of_day'] = result

### 5. Frequency for 'busiest_period_of_day' column

In [95]:
# Check the frequencies of the new busiest_period_of_day column

df['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Average orders    24043925
Most orders        8187036
Fewest orders       173898
Name: count, dtype: int64

### 7. Export df as pickle file

In [96]:
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_4.7.pkl'))